<div class="footer">
    <hr>
    <div class="footer-in">
            <div class="social">
            <h4>Eπικοινωνήστε μαζί μας</h4>
            <div class="social-icons">
                <i class='bx bxl-facebook-circle'></i>
                <i class='bx bxl-instagram'></i>
                <i class='bx bxl-twitter' ></i>
                <i class='bx bxl-youtube' ></i>
            </div>
        </div>
        <div class="location">
            <h4>Θα μας βρείτε</h4>
            <p><i class='bx bxs-map' ></i></box-icon>Κάνιγγος 143, Αθήνα.</p>
        </div>

        <div class="orario">
            <h4>Ωράριο Λειτουργίας</h4>
            <p>Δευτέρα-Κυριακή: 9:00-15:00</p>
            <p id="ora">& 17:00-21:00</p>
        </div>
    </div>
</div>