<header class="header">
        <a href="/" class="logo">LOGO</a>

        <input type="checkbox" id="check">
        <label for="check" class="icons">
            <i class="bx bx-menu" id="menu-icon"></i>
            <i class="bx bx-x" id="close-icon"></i>
        </label>
        <nav>
            <a href="">συλλογη</a>
            <a href="/biography">βιογραφια</a>
            <a href="">εισιτηρια</a>
            <a href="">εκθεσεις</a>
            <a href="/communication">επικοινωνια</a>
        </nav>
    </header>