<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/admin/edit">Έργα</a>
    <a href="/admin/Exhibitions">Εκθέσεις</a>
</div>

<div class="side-nav">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <a href="/admin/logout" class="logout">Αποσύνδεση</a>
</div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>