body{
  margin:0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(12, 11, 11) !important;
  min-height: 100%;
  
}

:root{
  font-size: 10px;
}

.seperator{
  width: 100%;
  background-color: #f2f2f2;
  height: 0.05em;
}



#myTopnav{
  background-color: black;
  max-width: 100%;
  height: 8em;
  margin-left:0;
  margin-right:0;
  
}

.container .row a{
  color: #f2f2f2;
  text-align:center;
  line-height: 6em;
  font-size: 1.3em;
  text-decoration: none;
}


.container .row a#home{
  line-height:2.5em;
  font-size: 1.5em;
  font-weight: bold;
}

.container .row a:hover,.container .row a:active{
  text-decoration: underline;
}


@media screen and (max-width: 600px) {
.container .row a:not(:first-child ){display: none;}
.container .row a#icon {
  float: right;
  display: block;
  font-size: x-large;
  line-height: 3.2em;
}
}

@media screen and (min-width: 601px){
.container .row a#icon{
  display: none;
}
}

/*Open the hamburger menu for the small screens*/
@media screen and (max-width: 600px) {
.container.responsive .row a#icon {
  position: relative;
  right: 0;
  top: 0;
  text-align: left;
}
.container.responsive .row a {
  float: right;
  display: block;
  text-align: right;
}
}

.c-item {
  height: 91.5vh;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

#self1 img{
  max-width: 18em;
  float:left;
  margin-right:5em;
}

/*About us*/
#us{
  margin-top: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
}

#us-text{
  display: block;
}
#us p#paula, #skopos p#paula2{
  color: #dc614c;
  font-size: x-large;
}

#us h1, #skopos h1{
  color: #f2f2f2;
}

#us p#paula, #us h1{
  display: inline;
}

#skopos p#paula2, #skopos h1{
  display: inline;
}

#us p, #skopos p{
  color: #f2f2f2;
  font-size: small;
  margin-top: 1em;
}

#quote{
  margin-left: 8em;
  font-style: italic;
  color: #ebdcdc;
  border-style: double;
}

#quote p{
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

#skopos{
  margin-top: 3em;
  margin-bottom: 4em;
}

#first-sep, #sec-sep{
  background-color: white ;
  width: 75%;
  margin: 0 auto;
}

.seperator#first-sep{
  margin-top: 5em;
}


/*Biography*/

.container#self1,.container#self2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
}


.container#self1{
  margin-top:8em;
}


.container#self1 .text p{
  color: rgb(220, 203, 203);
  font-size: 1.5em;
  flex:50%;
}


.container#self1 #img1 p{
  padding-top: 22em;

}

.container#self2 .text p{
  color: rgb(220, 203, 203);
  font-size: 1.5em;
  margin-bottom: 8em;
  flex:45%;
}


.container#self1 .text a{
  color: rgb(220, 203, 203);
  font-size: small;
  font-style: italic;
  text-decoration: none;
  
}

.container#self1 .text a:hover,.container#self2 .text a:hover{
  text-decoration: underline;
}

#self2 img{
  max-width: 20em;
  float:right;
  margin-left:5em;

}


article .container#self2 #img2{
  padding-bottom: 8.5em;
}

.container#self2 .text a{
  text-decoration: none;
  color: rgb(220, 203, 203);
  margin-top:3em;
  font-style: italic;
}


.container#self1{
  margin-bottom:0;
}

.container#self1 p#portait1{
  color: rgb(220, 203, 203);
  margin-top:2em;

}

.container#self2 p#portait2{
  color: rgb(220, 203, 203);
  float: right;
  margin-right: 3.5em;
  margin-top: 1em;

}

/*Upcoming Events*/

#up-events h1{
  color:#f2f2f2;
  margin-left:1em;

}

#up-events a{
  color:#f2f2f2;
  font-size: small;
  font-style: italic;
  text-decoration: none;
}

#up-events a:hover{
  text-decoration: underline;
}

#up-events #events-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left:0;
}

#events-title a{
  color:#dc614c;
}

#up-events .seperator{
  background-color: #f2f2f2;
  width: 100%;
}

.container#events-body{
  display:flex;
  justify-content: center;
  margin-top: 7em;

}

#events-body .first-date,#events-body .second-date{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#dc614c;
  margin-top: 2em;
}

#events-body .number{
  flex:66%;
  font-size: 5em;
}

.day{
  font-size: medium;
  padding-left: 1em;
  line-height: 1em;
}

#events-body #hundred-erga img{
  max-width: 40em;
}

#events-body #hundred-erga{
  padding-left: 5em;
}

#events-body #hundred-erga h4{
  color: #f2f2f2;
  font-style: italic;
  padding-bottom: 1em;
  padding-left: 4em;
}

#events-body #hundred-erga p{
  color: #f2f2f2;
  font-size: 1.5em;
  padding-top: 0.5em;
}

#events-body #hundred-erga a, #events-body #afierwma a{
  color: #f2f2f2;
  text-decoration: none;
  padding-top: 0.5em;
}

#events-body #hundred-erga a:hover, #events-body #afierwma a:hover {
  text-decoration: underline;
}

#events-body #afierwma{
  padding-left: 5em;
}

#events-body #afierwma h4{
  color:#f2f2f2;
  font-style: italic;
}

#events-body #afierwma img{
  max-width: 20em;
  padding-top: 1em;
}

#events-body #paul-text{
  color:#f2f2f2;
  font-size: 1.5em;
  padding-left: 2em;
  padding-top: 5em;
}

#events-body #sec-date{
  padding-left: 8em;
}

#events-body #first-exhibition, #events-body #sec-exhibition{
  display: flex
}

/*rensposivity*/
@media screen and (max-width: 800px){
  .container#self1,.container#self2, #us{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

}

@media screen and (max-width: 1000px){
  .container#events-body{
    display:block;
    width: 100%;
  }

  .container#events-body #sec-exhibition{
    margin-top: 5em;
  }

  .container#events-body #sec-exhibition .date{
     padding-left: 0;
  }

}