* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid black; */
    height: 8.5vh;
    background-color: black;
    width: 80%;
    margin: auto;
}

header {
    height: 8.5vh;
    background-color: black;
}

nav ul {

    color: white;
    /* border: 2px solid white; */
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    flex-grow: 1;
    padding: 0;
    margin: 0;
}

li {
    text-align: center;
    text-transform: uppercase;
    font-size: 10pt;
}

.logo {
    color: white;
    /* border: 2px solid white; */
    flex-grow: 1;
    text-align: center;
    /* font-size: 20px; */
    align-content: center;
    justify-content: center;
    padding: 0;
    line-height: 3;
}

.c-item {
    height: 91.5vh;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}