 <form class="edit-form prosthiki-form">
    <div class="titlos">
        <label for="title">Tίτλος</label>
        <input type="text" id="title" name="title" placeholder="Πληκτρολογήστε τον τίτλο έργου..">
    </div>

    <div class="code">
        <label for="code">Κωδικός Έργου</label>
        <input type="text" id="code" name="code" placeholder="Πληκτρολογήστε τον κωδικό του έργου..">
    </div>

    <div class="image-link">
        <label for="link">Link Εικόνας</label>
        <input type="text" id="link" name="link" placeholder="Πληκτρολογήστε το link της εικόνας..">
    </div>

    <div class="xronologia">
        <label for="date">Χρονολογία</label>
        <input type="text" id="date" name="date" placeholder="Πληκτρολογήστε την χρονολογία δημιουργίας του έργου..">
    </div>

    <div class="diastaseis">
        <label for="size">Διαστάσεις</label>
        <input type="text" id="size" name="size" placeholder="Πληκτρολογήστε τις διαστάσεις του έργου..">
    </div>

    <div class="typos">
        <label for="type">Τύπος Καμβά</label>
        <input type="text" id="type" name="type" placeholder="Πληκτρολογήστε τον τύπο καμβά του έργου..">
    </div>

    <div class="kallitexnis">
        <label for="artist">Καλλιτέχνης</label>
        <input type="text" id="artist" name="artist" placeholder="Πληκτρολογήστε τον καλλιτέχνη του έργου..">
    </div>

    <div class="perigrafi">
        <label for="content">Περιγραφή</label>
         <textarea id="content" name="content" rows="10" placeholder="Πληκτρολογήστε την περιγραφή του έργου.."></textarea>
    </div>

    <div class="buttons">
        <button class="submit-btn" type="submit">Προσθήκη</button>
        <a href="/admin">Ακύρωση</a>
    </div>

</form>
