<div class="main-exh">
    <button class="prosthiki" onclick="addExhibition()">Προσθήκη Νέας Έκθεσης</button>
    <div id="current-exhibitions-container" class="exhibitions-main container">
        <h3>Ενεργές εκθέσεις</h3>
        <hr>
        <div class="grid-exh" id="current-exh-grid"></div>
    </div>
    <div id="future-exhibitions-container" class="exhibitions-main container">
        <h3>Προσεχώς</h3>
        <hr>
        <div class="grid-exh" id="future-exh-grid"></div>
    </div>
</div>

<script>
    function updateExhibition(id_ekthesis) {
        window.location.href = `/admin/updateExhibition/${id_ekthesis}`;
    }

    function viewExhibition(id_ekthesis) {
        window.location.href = `/admin/viewExhibition/${id_ekthesis}`;
    }

    function addExhibition() {
        window.location.href = "/admin/addExhibition";
    }

    const current_exh = {{{current_exh}}};
    const future_exh = {{{future_exh}}};

    function createExhibitionElement(exhibition, type) {
        const exhDiv = document.createElement('div');
        exhDiv.className = 'exh';

        const h4 = document.createElement('h4');
        h4.innerText = exhibition.onoma_ekthesis;

        const img = document.createElement('img');
        img.src = exhibition.link;
        img.alt = '';

        const startDate = document.createElement('h5');
        startDate.innerHTML = `<span id="title">Έναρξη Έκθεσης: </span>${exhibition.imerominia_enarxis}`;

        const endDate = document.createElement('h5');
        endDate.innerHTML = `<span id="title">Λήξη Έκθεσης: </span>${exhibition.imerominia_lixis}`;

        const room = document.createElement('h5');
        room.innerHTML = `<span id="title">Αίθουσα προβολής: </span>${exhibition.id_aithousas}`;

        const buttonsDiv = document.createElement('div');
        buttonsDiv.className = 'buttons';

        if (type === 'current') {
            const viewButton = document.createElement('button');
            viewButton.className = 'view';
            viewButton.innerText = 'Προβολή';
            viewButton.onclick = () => viewExhibition(exhibition.id_ekthesis);
            buttonsDiv.appendChild(viewButton);
        } else if (type === 'future') {
            const updateButton = document.createElement('button');
            updateButton.className = 'epex';
            updateButton.innerText = 'Επεξεργασία';
            updateButton.onclick = () => updateExhibition(exhibition.id_ekthesis);
            buttonsDiv.appendChild(updateButton);

             const deleteButton = document.createElement('button');
            deleteButton.className = 'diag';
            deleteButton.innerText = 'Διαγραφή';
            buttonsDiv.appendChild(deleteButton);
        }

       

        exhDiv.appendChild(h4);
        exhDiv.appendChild(img);
        exhDiv.appendChild(startDate);
        exhDiv.appendChild(endDate);
        exhDiv.appendChild(room);
        exhDiv.appendChild(buttonsDiv);

        return exhDiv;
    }

    function appendExhibitionsToContainer(exhibitions, containerId, type) {
        const container = document.getElementById(containerId);
        exhibitions.forEach(exhibition => {
            const exhElement = createExhibitionElement(exhibition, type);
            container.appendChild(exhElement);
        });
    }

    appendExhibitionsToContainer(current_exh, 'current-exh-grid', 'current');
    appendExhibitionsToContainer(future_exh, 'future-exh-grid', 'future');

    const first_exh = document.querySelector('#current-exh-grid');
    first_exh.querySelectorAll('.exh').forEach((exh1) => {
        exh1.style.backgroundColor = '#dff2c7';
    });
</script>