<div class="container">
    <h2>Δημιουργία Νέας Έκθεσης</h2>

    <div class="information-form">
        <label for="">Τίτλος</label>
        <input type="text" placeholder="Δώσε τον τίτλο της έκθεσης">

        <label for="">Περιγραφή Έκθεσης</label>
        <textarea name="perigrafi" id="perigrafi" placeholder="Περιγραφή της έκθεσης">

    </textarea>

        <div class="imer">
            <div>
                <label for="imer_enarx">Ημερομηνία Έναρξης:</label>

                <input type="date" name="imer_enarx">
            </div>
            <div>
                <label for="imer_liksis">Ημερομηνία Λήξης:</label>
                <input type="date" name="imer_liksis">
            </div>
        </div>
        <label for="aithousa">Επιλέξτε Αίθουσα</label>
        <select name="aithousa" id="aithousa">
            <option value="1">Αίθουσα 1</option>
            <option value="2">Αίθουσα 2</option>
            <option value="3">Αίθουσα 3</option>
        </select>
    </div>

    <div class="erga">
        <h3>Διαθέσιμα έργα</h3>
        <hr>
        <div class="grid-erga">
            {{#each erga}}
            <div class="ergo">
                <img src={{this.link}} alt="">
                <h5>{{this.onoma}}</h5>
                <h5>{{this.arithmos_ergou}}</h5>
                <div class="buttons">
                    <button class="prosthiki">Προσθήκη</button>

                </div>
            </div>
            {{/each}}
        </div>

        <h3>Επιλεγμένα</h3>
        <hr>
        <div class="grid-erga">


        </div>

    </div>
</div>


<script>
    document.querySelectorAll('.prosthiki').forEach(button => {
        button.addEventListener('click', function () {
            // Get the parent div
            let parentDiv = this.parentNode.parentNode;

            // Remove the parent div from the first grid
            parentDiv.parentNode.removeChild(parentDiv);

            // Add the parent div to the last grid-erga
            document.querySelectorAll('.grid-erga')[1].appendChild(parentDiv);
        });
    });
</script>