<div class="container add">
    <h2>Δημιουργία Νέας Έκθεσης</h2>

    <form class="information-form" method="post" action="/admin/addExhibition/submit">
        <label for="title">Τίτλος</label>
        <input type="text" id="title" name="title" placeholder="Πληκτρολογήστε τον τίτλο της έκθεσης.." required>

        <div class="img-ekthesis">
            <label for="link">Link Εικόνας</label>
            <input type="link" name="link" id="link"
                placeholder="Πληκτρολογήστε το link για την αντιπροσωπευτική εικόνα της έκθεσης.." required>
        </div>

        <label for="perigrafi">Περιγραφή Έκθεσης</label>
        <textarea name="perigrafi" id="perigrafi" placeholder="Πληκτρολογήστε την περιγραφή της έκθεσης.." rows="10"
            required></textarea>

        <label for="aithousa">Επιλέξτε Αίθουσα</label>
        <select name="aithousa" id="aithousa" required>
            <option value="1">Αίθουσα 1</option>
            <option value="2">Αίθουσα 2</option>
            <option value="3">Αίθουσα 3</option>
        </select>

        <div class="imerom">
            <label for="datePicker">Διάρκεια Έκθεσης:</label>
            <input type="text" id="datePicker" name="imerom" placeholder="Επιλέξτε Ημερομηνία" required>
        </div>

        <div class="buttons">
            <button class="submit-btn" type="submit">Συνέχεια</button>
            <a href="/admin/Exhibitions">Ακύρωση</a>
        </div>
    </form>
</div>

<script>
    function continueExhibition2() {
        const form = document.querySelector('.information-form');
        if (form.checkValidity()) {
            window.location.href = "/admin/addExhibition2";
            return false; // Prevent default form submission
        }
        return false; // Prevent default form submission if invalid
    }

    const dateRanges = {{{ sched }}};
    document.addEventListener('DOMContentLoaded', function () {


        // Initialize Flatpickr instance
        const flatpickrInstance = flatpickr("#datePicker", {
            enableTime: false,
            mode: "range",
            minDate: "today",
            dateFormat: "Y-m-d",
        });

        function chooseDate(selectElement) {
            const selectedAithousa = parseInt(selectElement.value);

            const disabledRanges = dateRanges
                .filter(item => item.id_aithousas === selectedAithousa)
                .map(item => ({
                    from: item.imerominia_enarxis,
                    to: item.imerominia_lixis
                }));

            // Update Flatpickr instance with new disabled dates
            flatpickrInstance.set('disable', disabledRanges);
        }

        // Attach onchange event listener to the select element
        const selectElement = document.getElementById('aithousa');
        selectElement.addEventListener('change', function () {
            chooseDate(this);
        });

        selectElement.value = "1"; // Set value to aithousa 1
        chooseDate(selectElement);
    });

</script>