<div class="container1">

    <div class="available">
        <h3>Διαθέσιμα έργα</h3>
        <hr>
        <div class="grid-erga">
            {{#each erga}}
            <div class="ergo">
                <img src={{this.link}} alt="">
                <h5>{{this.onoma}}</h5>
                <h5>{{this.arithmos_ergou}}</h5>
                <div class="buttons">
                    <button class="prosthiki btn btn-light">Προσθήκη</button>

                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="selected">
        <h3>Επιλεγμένα</h3>
        <hr>
        <div class="grid-erga">


        </div>
    </div>
    <div class="ypovoli">
        <button class="btn btn-outline-success">Υποβολή</button>

    </div>
</div>



<script>
    document.querySelectorAll('.prosthiki').forEach(button => {

        button.addEventListener('click', function () {
            // Get the parent div

            if (button.innerHTML == "Προσθήκη") {

                let parentDiv = this.parentNode.parentNode;

                // Remove the parent div from the first grid
                parentDiv.parentNode.removeChild(parentDiv);

                // Add the parent div to the last grid-erga
                document.querySelectorAll('.grid-erga')[1].appendChild(parentDiv);
                button.innerHTML = "Αφαίρεση";
            }
            else {
                let parentDiv = this.parentNode.parentNode;

                // Remove the parent div from the first grid
                parentDiv.parentNode.removeChild(parentDiv);

                // Add the parent div to the last grid-erga
                document.querySelectorAll('.grid-erga')[0].appendChild(parentDiv);
                button.innerHTML = "Προσθήκη";
            }
        });
    });

    document.querySelector('.ypovoli button').addEventListener('click', function () {
        console.log('Υποβολή');
        let selected = Array.from(document.querySelectorAll('.grid-erga')[1].children);
        let erga = [];
        selected.forEach(ergo => {
            let onoma = ergo.querySelectorAll('h5')[0].innerHTML;
            let arithmos_ergou = ergo.querySelectorAll('h5')[1].innerHTML;
            erga.push({ onoma, arithmos_ergou });
        });
        console.log(erga);
        // Send the data to the server
        fetch('/admin/addExhibition2/submit', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(erga)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log(data);
                if (data.success) {
                    alert('Επιτυχής υποβολή');
                    window.location.href = '/admin/addExhibition';
                } else {
                    alert('Αποτυχία υποβολής');
                }
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
                alert('Αποτυχία υποβολής');
            });
    });
</script>