<div class="container add">
    <h2>Δημιουργία Νέας Έκθεσης</h2>

    <form class="information-form" method="post" action="/admin/addExhibition/submit">
        <label for="title">Τίτλος</label>
        <input type="text" id="title" name="title" placeholder="Πληκτρολογήστε τον τίτλο της έκθεσης.." required>

        <div class="img-ekthesis">
            <label for="link">Link Εικόνας</label>
            <input type="text" id="link"
                placeholder="Πληκτρολογήστε το link για την αντιπροσωπευτική εικόνα της έκθεσης.." required>
        </div>

        <label for="perigrafi">Περιγραφή Έκθεσης</label>
        <textarea name="perigrafi" id="perigrafi" placeholder="Πληκτρολογήστε την περιγραφή της έκθεσης.." rows="10"
            required></textarea>

        <div class="imer">
            <div>
                <label for="imer_enarx">Ημερομηνία Έναρξης:</label>
                <input type="date" name="imer_enarx" id="imer_enarx" required>
            </div>
            <div class="liksi">
                <label for="imer_liksis">Ημερομηνία Λήξης:</label>
                <input type="date" name="imer_liksis" id="imer_liksis" required>
            </div>
        </div>
        <label for="aithousa">Επιλέξτε Αίθουσα</label>
        <select name="aithousa" id="aithousa" required>
            <option value="1">Αίθουσα 1</option>
            <option value="2">Αίθουσα 2</option>
            <option value="3">Αίθουσα 3</option>
        </select>

        <div class="buttons">
            <button class="submit-btn" type="submit">Συνέχεια</button>
            <a href="/admin">Ακύρωση</a>
        </div>
    </form>
</div>

<script>

</script>