  <div class="log">
        <form action="/login" method="post" class="log-admin">
            <h1>Είσοδος Διαχειριστή</h1>
                    <input type="text" name="username" class="log-onoma" placeholder="Όνομα χρήστη" required="required" autofocus>
                    <input type="password" name="password" class="log-pass" placeholder="Κωδικός πρόσβασης" required="required">

            {{!-- {{#if message}}
                <div class="alert alert-primary" role="alert">
                    {{message}}
                </div>
            {{/if}} --}}
                <button type="submit" class="button">Είσοδος</button>

        </form>
    </div>
