<head>
    <link rel="stylesheet" href="bio_style.css">
</head>
    <section>
        <div class="hospital">
            <div class="starry-night">
                <p>
                    Κατά την άφιξή του στο άσυλο, ο Βαν Γκογκ τέθηκε υπό τη φροντίδα του Δρ. Théophile Zacharie Auguste Peyron (1827-95). 
                    Αφού εξέτασε τον Βίνσεντ και επανεξέτασε την υπόθεση, ο Δρ Πέιρον πείστηκε ότι ο ασθενής του έπασχε από έναν τύπο επιληψίας--μια 
                    διάγνωση που παραμένει μια από τις πιο πιθανές πιθανότητες, ακόμη και σήμερα.Ο Βαν Γκογκ απογοητεύτηκε από τις κραυγές των άλλων ασθενών 
                    και το κακό φαγητό και βρήκε απογοητευτικό το γεγονός ότι οι ασθενείς δεν είχαν τίποτα να κάνουν όλη την ημέρα - καμία διέγερση κανενός είδους.
                    Καθώς περνούσαν οι εβδομάδες, η ψυχική ευεξία του Βίνσεντ παρέμενε σταθερή και του επετράπη να συνεχίσει να ζωγραφίζει. Το προσωπικό ενθαρρύνθηκε 
                    από την πρόοδο του Βαν Γκογκ (ή, τουλάχιστον, από το ότι δεν υπέστη πρόσθετες επιθέσεις) και στα μέσα Ιουνίου ο Βαν Γκογκ παρήγαγε το πιο γνωστό έργο του: Έναστρη Νύχτα.
                    Η σχετικά ήρεμη ψυχική κατάσταση του Βαν Γκογκ δεν κράτησε, ωστόσο, και έμεινε ανίκανος από μια άλλη επίθεση στα μέσα Ιουλίου. Κατά τη διάρκεια αυτής της επίθεσης, ο Βίνσεντ 
                    προσπάθησε να καταπιεί τις δικές του μπογιές και γι' αυτόν τον λόγο περιορίστηκε και δεν του δόθηκε πρόσβαση στα υλικά του. 
                </p>

                <div class="starry-img">
                    <img src="http://www.vggallery.com/painting/f_0612.jpg">
                    <h5>Starry Night, June 1889.</h5>
                </div>
            </div>


            <div class="hospital-room">
                <div class="hospital-img">
                    <img src="http://www.vggallery.com/painting/f_0484.jpg">
                    <h5>The Bedroom, early September, 1889. </h5>
                </div>


                <p>
                    Αν και συνήλθε αρκετά γρήγορα από το περιστατικό, ο Βαν Γκογκ αποθαρρύνθηκε να στερηθεί το ένα πράγμα που του έδινε ευχαρίστηση και απόσπαση της προσοχής: 
                    την τέχνη του. Μετά από άλλη μια εβδομάδα, ο Δρ Πέιρον υποχώρησε και συμφώνησε να επιτρέψει στον Βαν Γκογκ να συνεχίσει τη ζωγραφική του. Η επανέναρξη της δουλειάς 
                    του συνέπεσε με μια βελτιωμένη ψυχική κατάσταση.Για δύο μήνες ο Βαν Γκογκ δεν μπορούσε να βγει από το δωμάτιό του και έγραψε στην αδερφή του: «... όταν είμαι στα χωράφια, 
                    με κυριεύει ένα αίσθημα μοναξιάς σε τόσο φρικτό βαθμό που αποφεύγω να βγω έξω...".Ωστόσο, τις επόμενες εβδομάδες, ο Βίνσεντ θα ξεπερνούσε ξανά τα άγχη του και θα συνέχιζε να 
                    εργάζεται. Κατά τη διάρκεια αυτής της περιόδου, ο Vincent άρχισε να σχεδιάζει την ενδεχόμενη αναχώρησή του από το άσυλο στο Saint-Rémy. Εξέφρασε αυτές τις σκέψεις στον Theo που 
                    άρχισε να κάνει έρευνες για πιθανές εναλλακτικές λύσεις για την ιατρική περίθαλψη του Vincent -- αυτή τη φορά πολύ πιο κοντά στο Παρίσι.Η ψυχική και σωματική υγεία του Βαν Γκογκ 
                    παρέμεινε αρκετά σταθερή στο υπόλοιπο του 1889. Η υγεία του Theo είχε ανακάμψει ως επί το πλείστον και, στη μέση της προετοιμασίας ενός σπιτιού με τη νέα σύζυγό του, ο Theo βοηθούσε 
                    επίσης τον Octave Maus που οργάνωνε μια έκθεση, Les XX , στις Βρυξέλλες όπου θα εκτίθενται έξι πίνακες του Vincent. Ο Βίνσεντ φαινόταν ενθουσιώδης για το εγχείρημα και παρέμεινε αρκετά παραγωγικός 
                    σε όλο αυτό το διάστημα. Δυστυχώς, ο Βαν Γκογκ υπέστη περισσότερες επιθέσεις κατά τους πρώτους μήνες του 1890. Αυτές οι επιθέσεις έγιναν πιο συχνά και άφησαν τον Βίνσεντ πιο ανίκανο από οποιονδήποτε 
                    από τους προηγούμενους. Κατά ειρωνικό τρόπο, κατά τη διάρκεια αυτής της περιόδου που ο Βαν Γκογκ βρισκόταν πιθανώς στη χαμηλότερη και πιο ψυχικά απελπισμένη κατάστασή του, τα έργα του άρχισαν επιτέλους 
                    να τυγχάνουν κριτικής. Η είδηση ​​αυτού, ωστόσο, βοήθησε μόνο να καταθλίψει περαιτέρω τον Vincent και ανανέωσε τις ελπίδες του να εγκαταλείψει το άσυλο και να επιστρέψει στο βορρά.
                </p>
            </div>

        </div>
    </section>
