<div class="page1">
<i class='bx bx-chevron-left'></i>
 <section class="bio_first">
        <div class="first">
            <div class="genika">
                <h2>Πριν το 1881..</h2>
                <p>Σε ηλικία 16 ετών και αφού είχε ήδη καταπιαστεί χωρίς επιτυχία με αρκετά επαγγέλματα, ασχολήθηκε για ένα διάστημα με το εμπόριο έργων τέχνης, στην εταιρεία Goupilator & Company, όπου τον επόμενο χρόνο προσελήφθη και ο αδελφός του Theo van Gogh.
                    Το 1873, η εταιρεία τον μεταθέτει στο Λονδίνο και αργότερα στο Παρίσι. Την περίοδο αυτή, εντείνεται το ενδιαφέρον του για τη θρησκεία, επηρεασμένος εμφανώς και από την ιδιότητα του πατέρα του,ο οποίος ήταν πάστορας. Αφού απολύεται από την εργασία του το 1876, επιστρέφει στο Άμστερνταμ για να σπουδάσει θεολογία.
                    Οι σπουδές του διαρκούν για περίπου ένα έτος και το 1878 του ανατίθεται μία θέση ιεροκήρυκα στο Βέλγιο και συγκεκριμένα στην υποβαθμισμένη περιοχή Μπορινάζ, όπου λειτουργεί ορυχείο. Ο Βαν Γκογκ κηρύττει για περίπου έξι μήνες επιδεικνύοντας ιδιαίτερο ενδιαφέρον για την ένδεια των ανθρώπων της περιοχής.
                    Αυτή είναι και η περίοδος κατά την οποία ξεκινά να σχεδιάζει μικρά έργα και πιθανόν αποφασίζει να ασχοληθεί με την τέχνη.</p>
            </div>
            <div class="image1">
                <img src="http://www.vggallery.com/painting/f_0001.jpg">
                <h5>Το πρώτο του έργο,Still Life with Cabbage and Clogs(1881)</h5>
            </div>
        </div>

        <div class="early">
            <div class="early_img">
                <img src="http://www.vggallery.com/drawings/f_1072.jpg">
                <h5>Sien, Sitting on a Basket, with a Girl(1883)</h5>
            </div>

            <div class="early_txt">
                <h2>1881-1883</h2>
                <p>Το 1881 θα αποδεικνυόταν μια ταραχώδης χρονιά για τον Βίνσεντ Βαν Γκογκ. Ο Vincent έκανε αίτηση για σπουδές στην Ecole des Beaux-Art στις Βρυξέλλες,
                    αν και οι βιογράφοι Hulsker και Tralbaut συγκρούονται ως προς τις λεπτομέρειες.
                    Ο Tralbaut προτείνει μια σύντομη και ασυνήθιστη θητεία στο σχολείο, ενώ ο Hulsker υποστηρίζει ότι η αίτηση του Vincent για εισαγωγή δεν έγινε ποτέ αποδεκτή. Όποια κι αν ήταν η περίπτωση,
                    ο Vincent συνέχισε μόνος του τα μαθήματα σχεδίου, παίρνοντας παραδείγματα από βιβλία όπως το Travaux des champs του Jean-François Millet και το Cours de dessin του Charles Bargue.
                    Το καλοκαίρι ο Βίνσεντ ζούσε ξανά με τους γονείς του, που τώρα βρίσκονται στο Etten, και κατά τη διάρκεια αυτής της περιόδου γνώρισε την ξαδέρφη του Cornelia Adriana Vos-Stricker (Kee).
                    Η Kee (1846-1918) είχε μείνει πρόσφατα χήρα και μεγάλωνε μόνη της έναν μικρό γιο. Ο Vincent ερωτεύτηκε την Kee και έμεινε συντετριμμένος όταν εκείνη απέρριψε τις προτάσεις του. Το ατυχές επεισόδιο ολοκληρώθηκε
                    σαν από τα πιο αξιομνημόνευτα περιστατικά στη ζωή του Βαν Γκογκ. 
                </p>

                <p>Ο Βίνσεντ βαν Γκογκ συνάντησε την Clasina Maria Hoornik (1850-1904) στα τέλη Φεβρουαρίου 1882, στη Χάγη. Ήδη έγκυος στο δεύτερο παιδί της όταν τη γνώρισε ο Βαν Γκογκ, αυτή η γυναίκα, γνωστή ως «Σιέν»,
                    μετακόμισε με τον Βίνσεντ λίγο αργότερα. Ο Βίνσεντ έζησε με τη Σιέν τον επόμενο ενάμιση χρόνο. Η σχέση τους ήταν θυελλώδης, εν μέρει λόγω της ευμετάβλητης προσωπικότητάς τους και λόγω της πίεσης να ζουν σε πλήρη φτώχεια.
                    Τα γράμματα του Vincent στον Theo τον δείχνουν ότι είναι αφοσιωμένος στη Sien και ιδιαίτερα στα παιδιά της, αλλά η τέχνη του ήταν πάντα το πρώτο του πάθος.
                    Η Sien και τα παιδιά της πόζαραν για δεκάδες σχέδια για τον Vincent και τα ταλέντα του ως καλλιτέχνη αυξήθηκαν σημαντικά κατά τη διάρκεια αυτής της περιόδου. Τα πρώτα, πιο πρωτόγονα σχέδιά του των ανθρακωρύχων στο Borinage άνοιξαν τη θέση τους για πολύ πιο εκλεπτυσμένα και γεμάτα συναισθήματα έργα.
                    Στο σχέδιο Sien, Sitting on a Basket, with a Girl , για παράδειγμα, ο Vincent απεικονίζει με μαεστρία την ήσυχη οικογενειακή ζωή, καθώς και μια υποκείμενη αίσθηση απελπισίας--αισθήματα που θα καθόριζαν πραγματικά τους 19 μήνες ζωής του Van Gogh με τη Sien.
                </p>
            </div>
        </div>
    </section>
<i class='bx bx-chevron-right'></i>
</div>

<script>
    let right=document.querySelector('.bx.bx-chevron-right');
    right.addEventListener('click',function(event){
        window.location.href="/biography/nuenen";
    })
</script>

