<div class="page2">
<i class='bx bx-chevron-left'></i>
 <section>
        <div class="sec_pag">
            <div class="farmers-plant">
                <img src="http://www.vggallery.com/painting/f_0041.jpg" title="Farmers Planting Potatoes">
                <p>Το 1883 ήταν άλλη μια χρονιά μετάβασης για τον Βαν Γκογκ: τόσο στην προσωπική του ζωή όσο και στον ρόλο του ως καλλιτέχνη. Ο Vincent άρχισε να πειραματίζεται με τις λαδομπογιές το 1882,
                    αλλά μόλις το 1883 δούλευε με αυτό το υλικό όλο και πιο συχνά. Καθώς οι δεξιότητές του στο σχέδιο και στη ζωγραφική προχωρούσαν, η σχέση του με τη Σιέν επιδεινώθηκε και οι δρόμοι τους χώρισαν τον Σεπτέμβριο.
                    Όπως και με την αποτυχία του στο The Borinage, ο Vincent περνούσε το χρόνο του αναρρώνοντας από αυτήν την αποτυχημένη σχέση σε απομόνωση. Με πολλή λύπη, ιδιαίτερα λόγω των συναισθημάτων του για τα παιδιά της Σιέν,
                    ο Βίνσεντ έφυγε από τη Χάγη στα μέσα Σεπτεμβρίου για να ταξιδέψει στο Ντρέντε, μια κάπως έρημη συνοικία στην Ολλανδία. Για τις επόμενες έξι εβδομάδες ο Βίνσεντ έζησε μια μάλλον νομαδική ζωή, μετακινούμενος σε όλη την περιοχή
                    και ζωγραφίζοντας το απομακρυσμένο τοπίο και τους κατοίκους του.Για άλλη μια φορά, ο Vincent επέστρεψε στο σπίτι των γονιών του, τώρα στο Nuenen, στα τέλη του 1883. Καθ' όλη τη διάρκεια του επόμενου έτους, ο Vincent van Gogh
                    συνέχισε να βελτιώνει την τέχνη του. Έκανε δεκάδες πίνακες και σχέδια κατά τη διάρκεια αυτής της περιόδου: υφαντές, κλωστήρες και άλλα πορτρέτα. Οι ντόπιοι αγρότες αποδείχτηκαν τα αγαπημένα του θέματα -- εν μέρει επειδή ο Βαν Γκογκ ένιωθε μια
                    ισχυρή συγγένεια με τους φτωχούς εργάτες και εν μέρει επειδή ήταν τόσο θαυμαστής του ζωγράφου Μιλέτ που ο ίδιος έφτιαχνε ευαίσθητους και συμπονετικούς πίνακες εργατών στα χωράφια.</p>
            </div>

            <div class="potato-eaters">
                <p>
                    Τους πρώτους μήνες του 1885 ο Βαν Γκογκ συνέχισε τη σειρά πορτρέτων του αγροτών. Ο Vincent τα έβλεπε ως «μελέτες», έργα που θα συνέχιζαν να βελτιώνουν την τέχνη του προετοιμάζοντας το πιο φιλόδοξο έργο του μέχρι σήμερα. Ο Βίνσεντ εργάστηκε όλο τον Μάρτιο και τον Απρίλιο σε αυτές τις μελέτες, αποσπασμένος για λίγο από τη δουλειά του λόγω του θανάτου του πατέρα του στις 26 Μαρτίου. 
                    Όλα τα χρόνια σκληρής δουλειάς, της συνεχούς βελτίωσης της τεχνικής του και της εκμάθησης να εργάζεται σε νέα μέσα - όλα λειτούργησαν ως σκαλοπάτι προς την παραγωγή του πρώτου σπουδαίου πίνακα του Βίνσεντ βαν Γκογκ: Οι πατατοφάγοι .
                    Ο Vincent εργάστηκε στους The Potato Eaters όλο τον Απρίλιο του 1885. Είχε δημιουργήσει διάφορα προσχέδια για την προετοιμασία της τελικής, μεγάλης έκδοσης λάδι σε καμβά. Το The Potato Eaters αναγνωρίζεται ως το πρώτο αληθινό αριστούργημα του Βίνσεντ Βαν Γκογκ και το αποτέλεσμα τον ενθάρρυνε.
                    Αν και θυμωμένος και αναστατωμένος από οποιαδήποτε κριτική για το έργο (ο φίλος και συνάδελφος του Vincent, Anthon van Rappard (1858-1892), δεν σχολίασε θετικά το έργο και αυτά του τα σχόλια θα ωθούσαν τον Vincent να τερματίσει τη φιλία τους), ο Vincent ήταν ευχαριστημένος με το αποτέλεσμα και έτσι ξεκίνησε μια νέα, πιο σίγουρη και τεχνικά ολοκληρωμένη φάση της καριέρας του.
                </p>

                <div class="potato-progress">
                    <div class="study">
                        <img src="http://www.vggallery.com/painting/f_0077r.jpg">
                        <h5>Study for 'The Potato Eaters'</h5>
                    </div>

                    <div class="potato-1">
                        <img src="http://www.vggallery.com/painting/f_0078.jpg">
                        <h5>The Potato Eaters</h5>
                    </div>

                    <div class="potato-2">
                        <img src="http://www.vggallery.com/painting/f_0082.jpg">
                        <h5>The Potato Eaters</h5>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <i class='bx bx-chevron-right'></i>
</div>

<script>
    let right=document.querySelector('.bx.bx-chevron-right');
    right.addEventListener('click',function(event){
        window.location.href="/biography/paris";
    })

    let left=document.querySelector('.bx.bx-chevron-left');
    left.addEventListener('click',function(event){
        window.location.href="/biography/earliest-paintings";
    })


</script>
