 <head>
    <link rel="stylesheet" href="bio_style.css">
</head>

 <section>
        <div class="parisi">
            <div class="carousel-louvre">
                <p>
                    Ο Βίνσεντ Βαν Γκογκ είχε γράψει στον αδερφό του, Theo, στις αρχές του 1886 σε μια προσπάθεια να πείσει τον Theo ότι το Παρίσι ήταν εκεί που ανήκε.
                    Ο Theo γνώριζε πολύ καλά την κάπως επιθετική προσωπικότητα του αδελφού του και αντιστάθηκε. Όπως πάντα, ο Vincent ήταν απτόητος και απλά έφτασε στο Παρίσι
                    απροειδοποίητα στις αρχές Μαρτίου. Ο Theo δεν είχε άλλη επιλογή από το να δεχτεί τον Vincent στο σπίτι του.
                    Η σημασία του χρόνου του Vincent στο Παρίσι είναι ξεκάθαρη. Ο Theo, ως έμπορος έργων τέχνης, είχε πολλές επαφές και ο Vincent θα γνώριζε τους πρωτοποριακούς καλλιτέχνες
                    στο Παρίσι εκείνη την εποχή. Τα δύο χρόνια του Βαν Γκογκ στο Παρίσι πέρασαν επισκεπτόμενοι μερικές από τις πρώτες εκθέσεις των ιμπρεσιονιστών (έργα των Degas,
                    Monet, Renoir, Pissarro, Seurat και Sisley). Δεν υπάρχει αμφιβολία ότι ο Βαν Γκογκ επηρεάστηκε από τις μεθόδους των ιμπρεσιονιστών, αλλά παρέμενε πάντα πιστός στο δικό του μοναδικό στυλ.
                    Κατά τη διάρκεια των δύο ετών, ο Βαν Γκογκ θα ενσωμάτωvε μερικές από τις τεχνικές των ιμπρεσιονιστών, αλλά ποτέ δεν άφησε την ισχυρή επιρροή τους να τον κυριεύσει.
                    Ο Vincent απολάμβανε τη ζωγραφική στα περίχωρα του Παρισιού καθ' όλη τη διάρκεια του 1886. Η παλέτα του άρχισε να απομακρύνεται από τα πιο σκούρα, παραδοσιακά χρώματα της ολλανδικής πατρίδας του
                    και να ενσωματώνει τις πιο ζωντανές αποχρώσεις των ιμπρεσιονιστών.
                </p>

                <div class="img_paris">
                    <img src="http://www.vggallery.com/painting/f_0221.jpg">
                    <h5>The Pont du Carrousel and the Louvre(1886)</h5>
                </div>

            </div>

                <div class="japan">
                    <div class="japan_img">
                        <img src="http://www.vggallery.com/painting/f_0371.jpg">
                        <h5>Japonaiserie: Flowering Plum Tree (after Hiroshige),1887</h5>
                    </div>

                    <p>
                        Στο Παρίσι ο Βίνσεντ άρχισε να ενδιαφέρεται για την ιαπωνική τέχνη. Η Ιαπωνία μόλις πρόσφατα άνοιξε τα λιμάνια της σε ξένους μετά από αιώνες πολιτιστικού αποκλεισμού και
                        ως αποτέλεσμα αυτού του μακροχρόνιου απομονωτισμού, ο δυτικός κόσμος γοητεύτηκε με όλα τα ιαπωνικά πράγματα. Ο Βαν Γκογκ άρχισε να αποκτά μια σημαντική συλλογή από ιαπωνικές
                        ξυλομπογιές και οι πίνακές του κατά τη διάρκεια αυτής της περιόδου θα αντανακλούσαν τη ζωηρή χρήση των χρωμάτων που προτιμάται από τους ιμπρεσιονιστές, με διακριτές ιαπωνικές αποχρώσεις.
                        Αν και ο Βαν Γκογκ παρήγαγε μόνο τρία αντίγραφα ιαπωνικών πινάκων, η ιαπωνική επιρροή στην τέχνη του θα ήταν εμφανής σε όλη την υπόλοιπη ζωή του.<br>
                        Το 1887 στο Παρίσι σηματοδότησε άλλη μια χρονιά κατά την οποία ο Βίνσεντ εξελίχθηκε ως καλλιτέχνης, αλλά είχε και τον αντίκτυπό του, τόσο συναισθηματικά όσο και σωματικά.
                        Η ασταθής προσωπικότητα του Βίνσεντ άσκησε πίεση στη σχέση του με τον Τεό. Όταν ο Vincent επέμεινε να μετακομίσει με τον Theo, το έκανε με την ελπίδα ότι θα μπορούσαν να διαχειριστούν καλύτερα τα έξοδά τους
                        και ότι ο Vincent θα μπορούσε πιο εύκολα να αφοσιωθεί στην τέχνη του. Δυστυχώς, η συμβίωση με τον αδερφό του είχε επίσης ως αποτέλεσμα μεγάλη ένταση μεταξύ των δύο.
                        Επιπλέον, το ίδιο το Παρίσι ήταν γεμάτο πειρασμούς και πολλά από τα δύο χρόνια του Βίνσεντ εκεί πέρασαν σε ανθυγιεινά ακραία περιστατικά: κακή διατροφή και υπερβολικό ποτό και κάπνισμα.
                        Όπως συνέβαινε συχνά σε όλη του τη ζωή, ο κακός καιρός κατά τους χειμερινούς μήνες άφησε τον Βίνσεντ ευερέθιστο και σε κατάθλιψη. Ποτέ ο Βίνσεντ δεν ήταν πιο χαρούμενος τότε όταν επικοινωνούσε σε εξωτερικούς χώρους
                        με τη φύση όταν ο καιρός ήταν στα καλύτερα του. Είτε ζωγράφιζε είτε απλώς έκανε μεγάλες βόλτες. Κατά τη διάρκεια των ζοφών χειμερινών μηνών στο Παρίσι του 1887-88 ο Βαν Γκογκ έγινε ανήσυχος. Και το ίδιο μοτίβο αναδυόταν ξανά.
                    </p>

                </div>
             </div>
    </section>
