<head>
    <link rel="stylesheet" href="bio_style.css">
</head>
   <section class="bio_main">
        <div class="early_art">
            <img src="http://www.vggallery.com/painting/f_0015a.jpg">
            <div class="overlay-text">
                <h2><strong>Earliest Paintings</strong></h2>
                <h3><strong>(1881-1883)</strong></h3>
                <a href="/biography/earliest-paintings">Discover more-&gt;</a>
            </div>
        </div>

        <div class="nuenen">
            <img src="http://www.vggallery.com/painting/f_0048a.jpg">
            <div class="overlay-text">
                <h2><strong>Nuenen / Antwerp</strong></h2>
                <h3><strong>(1883-1886)</strong></h3>
                <a href="/biography/nuenen">Discover more-&gt;</a>
            </div>
        </div>

        <div class="paris">
            <img src="http://www.vggallery.com/painting/f_0365v.jpg">
            <div class="overlay-text">
                <h2><strong>Paris</strong></h2>
                <h3><strong>(1886-1888)</strong></h3>
                <a href="/biography/paris">Discover more-&gt;</a>
            </div>
        </div>

        <div class="arles">
            <img src="http://www.vggallery.com/painting/f_0565.jpg">
            <div class="overlay-text">
                <h2><strong>Arles</strong></h2>
                <h3><strong>(1888-1889)</strong></h3>
                <a href="/biography/arles">Discover more-&gt;</a>
            </div>
        </div>

        <div class="saint-remy">
            <img src="http://www.vggallery.com/painting/f_0678.jpg">
            <div class="overlay-text">
                <h2><strong>Saint-Remy</strong></h2>
                <h3><strong>(1889-1890)</strong></h3>
                <a href="/biography/saint-remy">Discover more-&gt;</a>
            </div>
        </div>

        <div class="auvers">
            <img src="http://www.vggallery.com/painting/f_0805.jpg">
            <div class="overlay-text">
                <h2><strong>Auvers-sur-Oise</strong></h2>
                <h3><strong>(1890)</strong></h3>
                <a href="/biography/auvers-sur-oise">Discover more-&gt;</a>
            </div>
        </div>
    </section>

