
<section class="agora">
    <h2>Αγορά Εισιτηρίων</h2>
    <form method="get" action="/tickets" class="agora-ticket">
        <div class="name">
            <label for="onoma">Ονοματεπώνυμο:</label>
            <input type="text" id="onoma" name="onoma" placeholder="Συμπληρώστε το ονοματεπώνυμό σας.." required>
        </div>

        <div class="email">
            <label for="mail">Email:</label>
            <input type="email" id="mail" name="mail" placeholder="example@gmail.com" required>
        </div>

        <div class="phone-number">
            <label for="phone">Τηλέφωνο:</label>
            <input type="tel" id="phone" name="phone" placeholder="Συμπληρώστε τον αριθμό τηλεφώνου σας.." pattern="[0-9]{10}" required>
        </div>

        <div class="ilikia">
            <label for="age">Ηλικία:</label>
            <input type="number" id="age" name="age" min="1" max="99" placeholder="1" required>

        </div>

        <div class="eidiki">
            <label for="katigoria">Ειδική Κατηγορία:</label>
            <select name="katigoria" id="katigoria" onchange="calculate_cost(this)">
                <option value="">Καμία</option>
                <option value="foititis">Φοιτητής-50%</option>
                <option value="disabled">ΑΜΕΑ-50%</option>
                <option value="polyteknoi">Πολύτεκνοι-25%</option>
                <option value="paidia">Παιδιά κάτω των 12 ετών-Δωρεάν</option>
            </select>
        </div>

        <span class="kostos">Κόστος: <span id="value">10</span>ευρώ</span>

        {{#each tickets}}
            {{> multiple_tickets}}
        {{/each}}

        <span class="final_cost">Συνολικό Κόστος: <span id="final_value"></span>ευρώ</span>

        <input type="submit" id="kratisi" value="Κράτηση Εισιτηρίων">

        <p>*Η πληρωμή των εισιτηρίων γίνεται με την υπόδειξη του αποδεικτικού που προσκομίσατε στο προσωπικό σας email
            κατά την είσοδό σας στην πινακοθήκη.Σε περίπτωση μειωμένου εισιτηρίου κατηγορίας φοιτητή είναι απαραίτητη 
            η υπόδειξη της φοιτητικής σας ταυτότητας. </p>
    </form>
</section>

<script>

    let final = document.querySelector("#final_value");
    let values = document.querySelectorAll(".name").length;
    final.innerHTML=values*10;

    function calculate_cost(selectElement) {
        let selectedValue = selectElement.value;
        let uniqueId = selectElement.id.replace('katigoria', ''); // Extract the uniqueId from the select element's id
        let cost_indiv = document.querySelector(`#value${uniqueId}`);
        let cost = 0;

        if (selectedValue === "") {
            cost = 10;
        }

        if (selectedValue === "foititis" || selectedValue === "disabled") {
            cost = 5;
        }

        if (selectedValue === "polyteknoi") {
            cost = 7.5;
        }

        if (selectedValue === "paidia") {
            cost = 0;
        }

        cost_indiv.innerHTML = cost;

        // Recalculate the total cost
        let total = 0;
        document.querySelectorAll('.kostos > span[id^="value"]').forEach((element) => {
            total += parseFloat(element.innerHTML);
        });

        final.innerHTML = total;
    }

</script>
