<section>

    {{!-- <div class="filter-menu">
        <input type="text" class="search" placeholder="Αναζητήστε τίτλο εικόνας...">
    </div> --}}


<section class="collection" id="collection">
    <!-- Images will be loaded here asynchronously -->
</section>

<script>

    // Function to load images asynchronously
    async function loadImages() {
        try {
            let response = await fetch('/api/collection');
            let images = await response.json();
            let collectionDiv = document.getElementById('collection');
            images.forEach(function (image) {
                let anchor = document.createElement('a');
                anchor.href = `/collection/${image.arithmos_ergou}`;
                let img = document.createElement('img');
                img.src = image.link;
                img.alt = "";
                anchor.appendChild(img);
                collectionDiv.appendChild(anchor);
            });
        } catch (error) {
            console.error('Error loading images:', error);
        }
    }

    // Load images when the page loads
    window.onload = loadImages;
</script>