
    <section class="forma">
        <div class="templ">
            <form method="get" class="txt">
                <h2>Επικοινωνήστε μαζί μας</h2>
                    <div class="onoma">
                        <label for="name">Όνομα</label>
                        <input type="text" id="name" name="user_name" placeholder="Πληκτρολογήστε το όνομά σας.." required>
                    </div>
                    <div class="epwnimo">
                        <label for="surname">Επώνυμο</label>
                        <input type="text" id="surname" name="user_surname" placeholder="Πληκτρολογήστε το επώνυμό σας.." required>
                    </div>
                    <div class="email">
                        <label for="mail">E-mail</label>
                        <input type="email" id="mail" name="user_mail" placeholder="example@gmail.com" required>
                    </div>
                    <div class="thema">
                        <label for="topic">Θέμα Κειμένου</label>
                        <input type="text" id="topic" name="user_topic" placeholder="Πληκτρολογήστε το θέμα της ερώτησής σας.." required>
                    </div>

                    <div class="erwtisi">
                        <label for="question">Περιέχομενο</label>
                        <textarea rows="5" id="question" name="user_question" placeholder="Αναπτύξτε την ερώτησή σας.." required></textarea>
                    </div>

                    <input type="submit" id="subm" value="Υποβολή">
                </form>

        </div>

    </section>
