@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Inter, sans-serif;
    font-size: 10px;
}

.container h2 {
    margin-bottom: 1em;
    font-size: 2rem;
    align-self: flex-start;
    text-decoration: underline;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #6c6c6c;
}

hr {
    margin-bottom: 3rem;
}

.information-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.information-form label {
    align-self: flex-start;
}


.information-form input[type="text"] {
    height: 2em;
    width: 40%;
}


input,
select,
textarea {
    margin-bottom: 2rem;
    font-size: 1.5rem;

}

label {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.imer div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.liksi {
    margin-left: 2em;
}

.imer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1%;
}

.img-ekthesis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-bottom: 1%;
}


.img-ekthesis input[type="text"],.img-ekthesis input[type="url"] {
    width: 100%;
}



select#aithousa {
    font-size: 1.5em;
    margin-bottom: 1%;
}

.information-form input[type="date"] {
    font-size: 1.5em;

}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin-top: 1%;
}

.buttons .submit-btn,
.buttons a {
    font-size: 1.5em;
}


.container.add {
    margin: 2%;
    display: flex;
    flex-direction: column;
}

.information-form input[type="text"],.img-ekthesis input[type="url"] {
    font-size: 1.5em;
}


.information-form #title {
    width: 60%;
    margin-bottom: 1%;
}

.information-form #perigrafi {
    font-size: 1.5em;
    width: 60%;
    margin-bottom: 1%;
}

.information-form .imerom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1%;
}

.information-form .imerom #datePicker{
    width: 80%;
}