@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Inter, sans-serif;
    font-size: 10px;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #6c6c6c;
}

.container {
    width: 90%;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
}

.ergo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border: 2px solid #000;
    padding: 0.6em;
    background-color: #cccbcb;
    box-shadow: 11px 29px 67px -40px rgba(0, 0, 0, 0.75);

}

.ergo img {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
    flex: 50%;
}

.grid-erga {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

    gap: 4rem;
}

h5 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.epex,
.diag {
    height: 3em;
    border: 1px solid #000;
    border-radius: 1em;
    color: white;
}

.epex {
    background-color: #0b6b02;
}

.diag {
    background-color: #df1212;

}

/*ADMIN EDIT*/

.edit-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2% auto;
    flex: 50%;

}

.edit-form label {
    font-size: 1.5rem;
    font-weight: 600;
}

.edit-form input {
    font-size: 1.3em;
    padding: 0.7em;
    margin-bottom: 1%;
}

.edit-form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    width: 70%;
}

.edit-form a {
    margin-top: 1%;
}

.submit-btn {
    padding: 0.5em;
    font-size: 1.2em;
}

.buttons a {
    font-size: 1.5em;
}

.edit-form .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

textarea {
    font-size: 1.3em;
    padding: 0.7em;
    margin-bottom: 1%;
}

textarea#content {
    font-size: 1.3em;
}

.edit-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.edit-container img {
    max-width: 100%;
    max-height: 400px;
    object-fit: contain;
    flex: 50%;
}

.prosthiki {
    width: 12%;
    font-size: 1.2em;
    align-self: flex-end;
    padding: 0.3em;
    background-color: white;
    color: rgb(65, 131, 212);
    border: 0.2em solid rgb(65, 131, 212);
}

.edit-form.prosthiki-form {
    width: 90%;
    margin: 2% auto;
}

.edit-form.prosthiki-form div {
    width: 40%;
}

.edit-form.prosthiki-form .ekthesi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.edit-form.prosthiki-form .ekthesi .radios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    flex: 50%
}

.ekthesi .radio-monimi,
.ekthesi .radio-periodiki {
    display: flex;
    flex-direction: row;
}

.ekthesi .radio-monimi label,
.ekthesi .radio-periodiki label {
    font-weight: 400;
}

.edit-form.prosthiki-form .radio-monimi,
.edit-form.prosthiki-form .radio-periodiki {
    width: 60%;
}

.edit-form.prosthiki-form .room {
    display: none;
}

.edit-form.prosthiki-form .room #aithousa {
    font-size: 1.5em;
}

p {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.5%;
}

@media screen and (max-width: 600px) {

    .prosthiki {
        width: 20%;
    }

}

@media screen and (min-width: 601px) and (max-width:1000px) {
    .prosthiki {
        width: 15%;
    }

}