@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;

}

body {
    background-color: rgb(35, 35, 35) !important;
}

/*collection*/

.collection {

    display: grid;
    grid-template-columns: 30% 30% 30%;

    justify-content: space-evenly;
    align-items: center;
}


.collection img {
    max-width: 100%;
    max-height: 400px;
    object-fit: contain;
    transition: transform 0.5s;
    padding: 10%;
    margin: auto;

}

.collection a {
    margin: auto;
}

.collection img:hover {
    transform: scale(1.1);

}

.collection-filter {
    display: none;
    grid-template: 1fr 1fr 1fr 1fr/2fr 1fr;
    grid-template-areas: "ma me"
        "mb mf"
        "mc mg"
        "md mh";
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    background-color: black;
    height: 100%;
    width: 30%;
    overflow-x: hidden;
    z-index: 1;
    top: 0;
    left: 0;
    transition: width 0.3s ease;

}

#periodiki {
    display: flex;
    flex-direction: column-reverse;
}

#kallitexnis {
    margin-bottom: 10%;
    width: 70%;
    font-size: 1.5em;
    margin-left: 7%;
}

.closebtn {
    color: rgb(187, 180, 180);
    text-decoration: none;
    font-size: 4em;
    grid-area: me;
    justify-self: center;
    align-self: flex-end;
}

.clear-filter {
    grid-area: md;
    width: 50%;
    margin-left: 10%;
    font-size: 1.5em;
    height: 4vh;
    padding-left: 2%;
    padding-right: 2%;
    background-color: black;
    color: white;
    border: 0.1em solid white;
    justify-self: flex-start;
}



.main-radio,
.periodiko-radio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2%;
}

.radio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-area: mb;
    justify-self: flex-start;
    align-self: flex-start;
    margin-left: 7%;
}


form label {
    color: white;
    font-size: 1.8em;
    width: 10em;
}

input[type="text"] {
    width: 40%;
    height: 2.5em;
    background: none;
    border: 0.1em solid whitesmoke;
    color: white;
    font-size: 1.8rem;
    padding-left: 0.5em;
    grid-area: mk;
    justify-self: flex-end;

}

input[type="text"]::placeholder {
    color: white;
}

form select {
    height: 3.5em;
    font-size: 1.5em;
    width: 70%;
    background-color: rgb(35, 35, 35);
    color: white;
    border: 0.1em solid whitesmoke;
}

select[name="xronologiki-periodos"] {
    grid-area: mc;
    margin-left: 7%;
}

select[name="aithousa"] {
    grid-area: mb;
    margin-left: 7%;
}

.txt {
    color: white;
    font-size: 1.5em;
    padding: 0 1em;
}

#additionalPeriodiki {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: mc;
}

#xronologiki {
    width: 80%;
    margin-bottom: 0.5em;
    font-weight: 700;
}

.value {
    color: #d3d3d3;
    font-size: 1.5em;
    font-style: italic;
}

.filter {
    height: 7vh;
    width: 15%;
    font-size: 2em;
    background-color: rgb(35, 35, 35);
    color: #dc614c;
    border: 0.1em solid #dc614c;
    border-radius: 20%;
    justify-self: flex-start;
}

.filter-menu {
    display: grid;
    grid-template-areas: "mm mk";
    align-items: center;
    width: 75%;
    margin: 3% auto;
}


/*collection filter*/

@media (max-width:680px) {
    .filter {
        width: 80%;
    }

    input[type="text"] {
        width: 80%;
    }

    .filter-menu {
        width: 90%;
    }

    .collection-filter {
        width: 50%;
    }

    #kallitexnis,
    .clear-filter,
    form select,
    #additionalPeriodiki {
        width: 100%;
    }


}

@media (min-width:681px) and (max-width:900px) {

    .filter {
        width: 50%;
    }

    input[type="text"] {
        width: 70%;
    }

    .filter-menu {
        width: 90%;
    }

    .collection-filter {
        width: 40%;
    }

    #kallitexnis,
    .clear-filter,
    form select,
    #additionalPeriodiki {
        width: 100%;
    }



}

@media (min-width:901px) and (max-width:1100px) {

    .filter {
        width: 30%;
    }

    input[type="text"] {
        width: 60%;
    }

    .filter-menu {
        width: 90%;
    }

    .collection-filter {
        width: 40%;
    }

    #kallitexnis,
    .clear-filter,
    form select,
    #additionalPeriodiki {
        width: 100%;
    }


}

@media (min-width:1101px) and (max-width:1400px) {

    .filter {
        width: 25%;
    }

    input[type="text"] {
        width: 60%;
    }

    #kallitexnis,
    .clear-filter,
    form select,
    #additionalPeriodiki {
        width: 100%;
    }
}

/*COLLECTION TEMPLATE*/

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex: 55%
}


.collection-temp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    margin: 3% auto;
}

.collection-temp h1 {
    color: white;
    margin-bottom: 2%;
    font-style: italic;
}

.collection-temp img {
    max-height: 40em;
    max-width: 50em;
    object-fit: contain;
    margin-bottom: 2%;
}

.collection-temp h4 {
    color: white;
    font-family: inherit;
    font-weight: 600;
}

.collection-temp .xronologia,
.collection-temp .painter,
.collection-temp .typos,
.collection-temp .diastaseis {
    font-family: inherit;
    font-weight: 300;
}

.perigrafi {
    font-size: 1.5em;
    color: white;
    flex: 45%
}

.perigrafi p {
    padding-left: 8%;
}

@media (max-width:1200px) {

    .collection-temp {
        flex-direction: column;
    }

    .perigrafi {
        margin-top: 10%;
        width: 100%;
    }

}