body {
    background-color: black !important;
}

:root {
    font-size: 10px;
}

.protes-aithouses{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 4rem;
}

.ektheseis {
    margin: 3% auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.ektheseis h1 {
    color: white;
    padding-bottom: 0.2em;
    border-bottom: 0.1em solid #dc614c;
    font-style: italic;
    width: 100%;
    margin-bottom: 2%;
}

.aithousa {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.aithousa:hover {
    /* background-color: #7a3023; */
    transform: scale(1.05);
    border: 1px solid #dc614c;
}

.aithousa h3 {
    color: white;
    margin-bottom: 2%;
}

.aithousa img {
    max-width: 30em;
    max-height: 40em;
    object-fit: contain;
    margin-bottom: 2%;
}

.aithousa h5 {
    color: white;
    font-style: italic;
}

.aithousa .imerominia,
.aithousa .arithmos-aithousas {
    font-weight: 200;
}

#perigrafi-ekthesis {
    margin-top: 1%;
    text-decoration: underline;
}

.aithousa p {
    color: white;
    width: 60%;
    font-size: 1.2em;
}

#prosexws {
    margin-top: 3%;
}

@media screen and (max-width:600px){
    .aithousa{
        width: 80%;
    }

    .protes-aithouses{
        width: 80%;
    }
}