@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;

}

.main-body{
    background-color: black;
}


.icons {
    position: absolute;
    font-size: 4rem;
    color: white;
    cursor: pointer;
    display: none;
    right: 5%;
} 


.c-item {
    height: 93vh;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.carousel-caption h5,
.carousel-caption h6 {
    font-size: 20px;

}

.carousel-caption button {
    font-size: 16px;
    margin-top: 1%;
    margin-bottom: 3%;
}

.container {
    width: 10%;
}

.black {
    background-color: black;
}

.art {
    background-color: black;
    height: 92vh;
    font-size: 16px;
}

.img-container {
    width: 25%;
    overflow: hidden;

}

.art-container {
    margin-top: 4%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-container img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

.img-container img:hover {

    transform: scale(1.2);
    object-fit: cover;
    filter: blur(0px);

}

.see-more {
    display: block;
    margin: auto;
    margin-top: 5%;
    color: #dc614c;
    border: 2px solid #dc614c;
    width: 11.2rem;
    height: 4.8rem;
    border-radius: 4px;
    background-color: black;
    transition: 0.3s;
    font-weight: 600;

}

.see-more:hover {
    transform: translateY(-0.24em);
    box-shadow: 0 0.5em 0.5em -0.4em;

}

.header>.logo {
    color: white;
}

.art h3 {
    padding: 3%;
    padding-bottom: 2.5%;
    color: white;
    padding-left: 2%;
    border-bottom: 1px solid white;
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    font-size: 1.5em;
    font-weight: 700;
}

.seperator{
    background-color: #f2f2f2;
    width: 87.5%;
    margin:3em auto;
}



/*About us*/
.sxetika-me-emas {
    padding-top:5%;
    height: 100%;
}

#us {
    margin-top: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    padding-bottom: 5em;
}

#us-text {
    display: block;
}

#us p#paula,
#skopos p#paula2 {
    color: #dc614c;
    font-size: x-large;
}

#us h1,
#skopos h1 {
    color: #f2f2f2;
}

#us p#paula,
#us h1 {
    display: inline;
}

#skopos p#paula2,
#skopos h1 {
    display: inline;
}

#us p,
#skopos p {
    color: #f2f2f2;
    font-size: small;
    margin-top: 1em;
}

#quote {
    margin-left: 8em;
    font-style: italic;
    color: #ebdcdc;
    border-style: double;
}

#quote p {
    padding: 1em;

}

#skopos {
    margin-top: 3em;
    margin-bottom: 4em;
}

#first-sep,
#sec-sep {
    background-color: white;
    width: 75%;
    margin: 0 auto;
}


/*Biography*/

.bio {
    height: 100%;
    display: block;
    padding-top: 4em;
}


#self1 img {
    max-width: 18em;
    float: left;
    margin-right: 5em;
}

.container#self1,
.container#self2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
}


.container#self1 {
    margin-top: 0em;
}


.container#self1 .text p {
    color: rgb(220, 203, 203);
    font-size: 1.5em;
    flex: 50%;
}


.container#self1 #img1 p {
    padding-top: 22em;

}

.container#self2 .text p {
    color: rgb(220, 203, 203);
    font-size: 1.5em;
    margin-bottom: 8em;
    flex: 45%;
}


.container#self1 .text a {
    color: rgb(220, 203, 203);
    font-size: small;
    font-style: italic;
    text-decoration: none;

}

.container#self1 .text a:hover,
.container#self2 .text a:hover {
    text-decoration: underline;
}

#self2 img {
    max-width: 20em;
    float: right;
    margin-left: 5em;

}


article .container#self2 #img2 {
    padding-bottom: 0em;
}

.container#self2 .text a {
    text-decoration: none;
    color: rgb(220, 203, 203);
    margin-top: 3em;
    font-style: italic;
}


.container#self1 {
    margin-bottom: 0;
}

.container#self1 p#portait1 {
    color: rgb(220, 203, 203);
    margin-top: 2em;

}

.container#self2 p#portait2 {
    color: rgb(220, 203, 203);
    float: right;
    margin-top: 1em;
    margin-right: 2em;

}


/*Upcoming Events*/

.up-events{
    padding-bottom: 5em;
}

.up-events h1 {
    color: #f2f2f2;
    margin-left: 3em;

}

.up-events a {
    color: #f2f2f2;
    font-size: small;
    font-style: italic;
    text-decoration: none;
}

.up-events a:hover {
    text-decoration: underline;
}

.up-events #events-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
}

#events-title a {
    color: #dc614c;
}

 .up-events .seperator {
    background-color: #f2f2f2;
    width: 95%;
} 

.container#events-body {
    display: flex;
    justify-content: center;
    margin-top: 7em;

}

#events-body .first-date,
#events-body .second-date {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dc614c;
    margin-top: 2em;
}

#events-body .number {
    flex: 66%;
    font-size: 5em;
}

.day {
    font-size: medium;
    padding-left: 1em;
    line-height: 1em;
}

#events-body #hundred-erga img {
    max-width: 40em;
}

#events-body #hundred-erga {
    padding-left: 5em;
}

#events-body #hundred-erga h4 {
    color: #f2f2f2;
    font-style: italic;
    padding-bottom: 1em;
    padding-left: 4em;
}

#events-body #hundred-erga p {
    color: #f2f2f2;
    font-size: 1.5em;
    padding-top: 0.5em;
}

#events-body #hundred-erga a,
#events-body #afierwma a {
    color: #f2f2f2;
    text-decoration: none;
    padding-top: 0.5em;
}

#events-body #hundred-erga a:hover,
#events-body #afierwma a:hover {
    text-decoration: underline;
}

#events-body #afierwma {
    padding-left: 5em;
}

#events-body #afierwma h4 {
    color: #f2f2f2;
    font-style: italic;
}

#events-body #afierwma img {
    max-width: 20em;
    padding-top: 1em;
}

#events-body #paul-text {
    color: #f2f2f2;
    font-size: 1.5em;
    padding-left: 2em;
    padding-top: 5em;
}

#events-body #sec-date {
    padding-left: 8em;
}

#events-body #first-exhibition,
#events-body #sec-exhibition {
    display: flex
}


@media screen and (max-width: 800px) {

    .container#self1,
    .container#self2,
    #us {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #events-body #first-exhibition,
    #events-body #sec-exhibition {
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.date{
    padding-bottom: 3em;
}

#events-body #hundred-erga{
    padding-left: 1em;
    width: 90%;
}

}

@media screen and (max-width: 1300px) {
    .container#events-body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .container#events-body #sec-exhibition {
        margin-top: 5em;
    }

    .container#events-body #sec-exhibition .date {
        padding-left: 0;
    }

}
