<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Συλλογή</title>
    <link rel="stylesheet" href="collection-style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header class="header">
        <a href="" class="logo">LOGO</a>

        <input type="checkbox" id="check">
        <label for="check" class="icons">
            <i class='bx bx-menu' id="menu-icon"></i>
            <i class="bx bx-x" id="close-icon"></i>
        </label>
        <nav>
            <a href="">συλλογη</a>
            <a href="">βιογραφια</a>
            <a href="">εισιτηρια</a>
            <a href="">εκθεσεις</a>
            <a href="">επικοινωνια</a>
        </nav>
    </header>

    <form action="/" class="collection-filter">
        <label for="filter">Sorted by age</label>
        <select name="filter">
            <option value="" disabled selected></option>
            <option value="1">Παλαιότερα</option>
            <option value="2">Νεότερα</option>


        </select>

        <select name="filter">
            <option value="" disabled selected>Κατηγοριοποιήση με βάση την έκθεση</option>
            <option value="1">Βασική Συλλογή</option>
            <option value="2">Λόρδος Μπάιρον</option>
            <option value="3">Πουτσοφσκι</option>

        </select>
        <input type="text" placeholder="Search by the Art ID">
    </form>
    <section class="collection">
        <img src="https://iiif.micr.io/qDCTO/full/900,/0/default.webp" alt="">
        <img src="https://iiif.micr.io/yzksg/full/900,/0/default.webp" alt="">
        <img src="https://iiif.micr.io/PoVJv/full/900,/0/default.webp" alt="">
        <img src="https://iiif.micr.io/HDzja/full/900,/0/default.webp" alt="">
        <img src="https://iiif.micr.io/fhXoU/full/900,/0/default.webp" alt="">
        <img src="https://iiif.micr.io/AIlXy/full/900,/0/default.webp" alt="">
        <img src="https://iiif.micr.io/WPTWb/full/900,/0/default.webp" alt="">
        <img src="https://iiif.micr.io/YMakn/full/900,/0/default.webp" alt="">
        <img src="https://iiif.micr.io/rzhJC/full/1800,/0/default.webp" alt="">
        <img src="https://iiif.micr.io/rAERt/full/900,/0/default.webp" alt="">
        <img src="https://iiif.micr.io/QHzII/full/600,/0/default.webp" alt="">
        <img src="https://iiif.micr.io/gzrkN/full/600,/0/default.webp" alt="">
    </section>
</body>

</html>