<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content Management System</title>
    <link rel="stylesheet" href="cms.css">
</head>

<body>
    <div class="dashboard">
        <ul class="side-options">
            <li><a href="">ΕΡΓΑ</a></li>
            <li><a href="">ΕΚΘΕΣΕΙΣ</a></li>
            <li><a href="">ΕΙΣΗΤΗΡΙΑ</a></li>
        </ul>
    </div>
    <div class="content">
        <div>
            <label for="titlos">Τίτλος καινούργιας έκθεσης</label>
            <input type="text" id="titlos">
        </div>
        <div>
            <label for="perigrafi">Περιγραφή καινούργιας έκθεσης</label>
            <textarea placeholder="Δώσε περιγραφή εδώ" rows="10" cols="50" id="perigrafi">
        </textarea>
        </div>
        <div class="images-selection">
            <div class="boxes"><input type="checkbox">
                <p>skata me meli</p>
            </div>
            <div class="boxes"><input type="checkbox">
                <p>sketa skata</p>
            </div>
            <div class="boxes"><input type="checkbox">
                <p>skata me feta</p>
            </div>
            <div class="boxes"><input type="checkbox"></div>
            <div class="boxes"><input type="checkbox"></div>
            <div class="boxes"><input type="checkbox"></div>
            <div class="boxes"><input type="checkbox"></div>
            <div class="boxes"><input type="checkbox"></div>
            <div class="boxes"><input type="checkbox"></div>
            <div class="boxes"><input type="checkbox"></div>
        </div>
    </div>
    <script src="cms.js"></script>
</body>

</html>